body{
    background-color: brown;
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
    padding-top: 40px;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    background: linear-gradient(0deg, #83DECE, rgb(28, 76, 167));
}


p{
    font-family: 'Muli', sans-serif;
    color: aqua;
}

.tab {
    overflow: hidden;
    background-color: #fff000;
}

/* Style the buttons inside the tab */
.tab button {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    border: 0;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.9s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ed1b00;
     background-image: url("....");
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ed1b00;
}

/* Style the tab content */
.tabcontent {
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
    display: none;
    padding: 6px 12px;
    border: 1px solid #8e1507;
    border-top: none;
    background-color: #8e1507;
}